/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */


@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/aef2da2daa6e15be44ff1a2706cc61a1?family=AvertaStd-Semibold);
@import url(https://db.onlinewebfonts.com/c/b5d2107c7c6e775b13169eb51d8970c1?family=AvertaStd-Light);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url(https://db.onlinewebfonts.com/c/19b8f54eb1f074fb01efb1c4f02e9623?family=Bookerly);
@import url(https://db.onlinewebfonts.com/c/a67d98abe8980caaa1768b6e27b323c6?family=Typewriter);
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Cantarell');

* {
  padding: 0;
  margin: 0;
  font-family:'Quicksand', sans-serif;
}


.font-averta-semibold {
  font-family: 'Segoe UI', ui-sans-serif, -apple-system, Roboto, Ubuntu,
    Cantarell, 'Noto Sans', sans-serif, 'Helvetica Neue', Arial,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 600;
}

.font-averta-light {
  font-family: 'AvertaStd-Light';
}

.font-averta-regular {
  font-family: 'Segoe UI', ui-sans-serif, -apple-system, Roboto, Ubuntu,
    Cantarell, 'Noto Sans', sans-serif, 'Helvetica Neue', Arial,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 500;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.backface-hidden {
  backface-visibility: hidden;
}

.glow-effect {
  box-shadow: 0 0 13px rgba(187, 247, 208, 0.5); /* Adjust the color and radius as needed */
}

.focus-glow-effect {
  transition: box-shadow 0.3s ease-in-out; /* Adjust durat	ion and timing function as needed */
  box-shadow: none; /* No shadow initially */
}
.focus-glow-effect:focus {
  box-shadow: 0 0 13px #bae6fd; /* Your desired glow effect */
}

.glow-effect-textarea {
  box-shadow: 0 0 13px #bae6fd;
}

.textarea::-webkit-resizer {
  display: none;
  opacity: 0;
  width: 0;
}
.textarea::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}
.textarea {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#gradientButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff69b4, #00ff7f, #00bfff, #ff69b4);
  z-index: -1;
  border-radius: 5px; /* Match your button's border-radius */
  animation: slide 3s infinite linear;
}

@keyframes gradientBorder {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* Custom class for the animated gradient border */
.animated-gradient-border {
  @apply relative;
  background: linear-gradient(90deg, #f0abfc, #93c5fd, #f0abfc);
  background-size: 200% 200%;
  animation: gradientBorder 4s ease infinite;
}

.animated-gradient-border::after {
  @apply block absolute top-0 left-0 w-full h-full;
  content: '';
  border-radius: inherit; /* Match the border-radius of the parent if needed */
  z-index: -1;
}

html {
  overflow: auto;
  height: 100vh;
  height : -webkit-fill-available;
  
  

}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  overscroll-behavior: none;
  color: var(--text-color);

  overflow-y:auto
}

.side-feed {
  /* Hide the scrollbar */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
}

.side-feed::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.carousel-area {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

.carousel-area::-webkit-scrollbar {
  display: none;
}

.archipelago-search {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
}

.archipelago-search::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.answer-area li {
  font-weight: 400;

  list-style: square;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.answer-area p {
  padding-bottom: 5px;
  padding-top: 4px;
  font-weight: 400;
}

.answer-area p::before {
  content: ' ';
}

.answer-area h1,
h2,
h3 {
  font-weight: 600;
  
}

.answer-area ol,
ul {
  margin: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

span {
  user-select: text;
}

/* 





MAIN PAGE 








*/

.navbar {
  display: flex;
  /* position: sticky; */
  top: 0;

  z-index: 1;
}

.collapse-menu {
  display: none;
}

.mobile-menu-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.navbar-link {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;

  text-decoration: none;
}

.welcome-area {
  align-items: center;

  width: 100vw;
  display: flex;
  flex-direction: column;

  height: 350px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.landing-page-input {
  margin: auto;
  width: 60vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.landing-page-input input {
  position: relative;
  cursor: text;
  font-size: 14px;
  width: 700px;
  max-width: 1000px;
  margin-left: 30px;
  margin-right: 10px;
  line-height: 20px;
  padding: 0 16px;
  height: 35px;

  border: 1px solid #d6d6e7;
  border-radius: 3px;
  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
  overflow: hidden;
  transition: all 100ms ease-in-out;
}

.language-selection select {
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  height: 35px;

  border: 1px solid #d6d6e7;
  border-radius: 3px;

  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
  overflow: hidden;
  transition: all 100ms ease-in-out;
}

.landing-page-input button {
  cursor: pointer;
  background: #2f3542;
  border: none;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.7s ease;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 25px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.welcome-text h2 {
  font-size: 35px;
}

.welcome-text p {
  font-size: 20px;
}

.welcome-img {
  width: 90%;
  margin-left: 100px;
  opacity: 0.6;
  display: none;
}

/* style.css */

/* style.css */

.hiddenDropdown {
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out,
    transform 0.3s ease-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.visibleDropdown {
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in,
    transform 0.3s ease-in;
  max-height: 30vh;
  /* you need to set this to a value that's always greater than the content height */
  opacity: 1;
}

/* style.css */

.hiddenDrawer {
  transition: transform 0.5s ease-out;
  transform: translateX(-100%);
  width: 250px;
  /* Adjust as needed */
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow: auto;
}

.visibleDrawer {
  transition: transform 0.5s ease-in;
  transform: translateX(0);
  width: 250px;
  /* Adjust as needed */
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow: auto;
}

.scrolling {
  overflow-y: scroll;
  scrollbar-width: none;
}

table thead {
  text-align: left;
}

.feed-element {
  border-collapse: collapse;

  padding: 10px;
  height: 50px;
  margin: 10px;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.feed-element td {
  padding-left: 10px;
}

thead {
  height: 90px;
}

table tr {
  border-bottom: 1px solid #2d3136;
}

.main-page-feed-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.search-main-feed {
  padding-bottom: 10px;
  width: 80vw;
}

.output-message p {
  margin-top: 15px;
}

.main-page-feed-section h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 30px;
}

.sideBarContent {
  transition: all 0.5s ease;
}

::-webkit-scrollbar {
  display: none;
}

.main-content::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.article-block-1 {
  height: parent;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* border-right: 1px solid #2f3542; */
}

.menu-toggler {
  top: 0;
}

/* .arrow-right {
	transform: rotate(0deg);
	transition: transform 0.5s ease-in-out;
}

.arrow-left {
	transform: rotate(360deg);
	transition: transform 0.5s ease-in-out;
} */

/* ANIMATIONS */

.ham-collapsed {
  /* go to left and set opacity to 0  no animation*/
  transform: translateY(100%);
}

.ham-not-collapsed {
  transform: translateY(0);
}

.nav-ham-collapsed {
  transform: translateY(-200%);
  opacity: 0;
  z-index: -1;
}

.nav-ham-not-collapsed {
  transform: translateY(0);
  z-index: 1;
}

.text-center {
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  width: 20%;
  background: #fff;
}

/* input {
	display: none;
} */

label {
  margin-bottom: 100px;
  display: block;
}

.mobile-welcome::before {
  content: 'Transcribe ';
  animation: animate2 infinite 8s;
  display: flex-inline;
  align-items: center;
}

@keyframes animate2 {
  0% {
    content: 'Transcribe ';
  }

  33% {
    content: 'Summarize ';
  }

  66% {
    content: 'Search ';
  }

  100% {
    content: 'Transcribe ';
  }
}

.animation1 {
  overflow: hidden;
}

.animation1 > div {
  animation: text-animation 10s infinite;
}

@keyframes text-animation {
  0% {
  }

  /* transcribe -> summarize */

  6% {
    transform: translateY(-112%);
  }

  10% {
    transform: translateY(-100%);
  }

  /* summarize */
  33.33% {
    transform: translateY(-100%);
  }

  /* summarize -> Question */
  39.33% {
    transform: translateY(-212%);
  }

  43.33% {
    transform: translateY(-200%);
  }

  66.66% {
    transform: translateY(-200%);
  }

  72.66% {
    transform: translateY(-312%);
  }

  76.66% {
    transform: translateY(-302%);
  }

  100% {
    transform: translateY(-302%);
  }
}

.nav-tabs {
  display: none;
}

/* 




CONTENT PAGE





*/
.content-area {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content-area::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

.question-answering {
  scrollbar-width: none;
}

.question-answering::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.content-upperside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
}

.content {
  max-width: 60vw;
  margin-left: 50px;
}

.content-title {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 50px;
}

.content-upperside iframe {
  margin: 30px;
}

.key-takeaways h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.react-markdown-edit ul {
  list-style: disc outside none;
}


.react-markdown-edit p,
li,
ul,
span,
code,
pre,
ol {
  font-family: 'Quicksand', sans-serif;
}


.create-article {
  align-items: center;
  appearance: none;

  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ced4da 0 -3px 0 inset;
  box-sizing: border-box;

  cursor: pointer;

  list-style: none;

  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;

  display: inline-flex;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  position: relative;
  text-align: left;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
  margin-left: 30px;
  width: 80%;
  height: 40px;
  margin-bottom: 15px;
}

.create-article:focus {
  box-shadow: #ced4da 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ced4da 0 -3px 0 inset;
}

.create-article:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ced4da 0 -3px 0 inset;
  transform: translateY(-2px);
}

.create-article:active {
  box-shadow: #ced4da 0 3px 7px inset;
  transform: translateY(2px);
}

.create-article p {
  font-size: 20px;
  font-weight: 600;
}

.new-submission {
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 100px;
  left: 350px;
}

.new-submission input {
  min-width: 400px;
}

.instruction-texts h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.feed {
  margin-left: 30px;
  padding-right: 10px;
  padding-top: 20px;
}

.App {  
  width: 100vw;
  margin: 0;
  padding: 0;
  
  

}

#__next {
  
  display: flex;
  flex-direction: column;
  
}
.summary-text {
  font-family:'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.summary-text p,
li,
ul,
span,
code,
pre,
ol {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.summary-text code {
  white-space: pre-wrap;
  padding-left: 10px;
  font-family:'Quicksand', sans-serif;
}

.select-option span {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.or-area {
  display: flex;
  align-items: center;
}

.or-area::before {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: black;
  margin-right: 10px;
}

.summary-text h2 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
  font-family: 'Quicksand', sans-serif;
}

.summary-text h1 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
  font-family: 'Quicksand', sans-serif;
}

/* .summary-text p{
	font-family : "Bookerly";
	font-weight:500
} */
.summary-text h3 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
  font-family: 'Quicksand', sans-serif;
}

.summary-text h4 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
  font-family: 'Quicksand', sans-serif;
}

.summary-text h5 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  font-family: 'Quicksand', sans-serif;
}

.summary-text strong {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.slick-arrow::before {
  background: 'black';
}

.summary-text ul {
  list-style-type: disc;
}

.summary-text li::before {
  content: '•';
  /* Bullet point character */
  color: #a1a1aa;
  /* Change color here */
  margin-right: 0.5em;
  /* Add some spacing between the bullet and the text */
}

.sign-in-input input {
  position: relative;
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  margin-bottom: 10px;
  min-width: 450px;
  margin-right: 15px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #d6d6e7;
  border-radius: 3px;

  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
  overflow: hidden;
  transition: all 100ms ease-in-out;
}

.summary-and-transcript-buttons {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
}

.content-active-button {
  border-bottom: 3px solid rgba(239, 237, 239, 0.5);
}

.summary-and-transcript-buttons button {
  padding-top: 13px;
  text-align: center;
  padding-right: 10px;
}

.summary-and-transcript-buttons.tabs button:focus {
  border-bottom: 3px solid #04293a;
}

.article-block-2 .tab-content {
  margin-left: 30px;
}

.article-block-2 {
  width: 80%;
  padding: 0px;
  float: right;
  overflow-y: scroll;
  max-height: 90vh;
  padding-left: 40px;
}

.main-content {
  font-size: 15px;

  padding-top: 15px;
}

#sidebar .create-article {
  margin: auto;
  margin-top: 30px;
}

.tab-content tbody {
  overflow-y: scroll;
  max-height: 100vh;
}

/*



CONTENT


*/

.rounded-div {
  @apply border rounded-2xl shadow-xl border-gray-200 bg-gray-900 border-gray-800 text-white px-6 max-w-[2300px] w-full mx-auto;
}

.coin-img {
  height: 30px;
}

.mons {
  width: 30px;
}

footer {
  background: black;
}

.footer-main {
  display: flex;

  padding-top: 30px;
}

.footer-main-2 {
  justify-content: space-between;
  display: flex;
  flex-direction: row;

  margin: auto;
  width: 100%;
  margin-bottom: 30px;
}

/* 




DIFFERENT SCREEN SIZES









*/

@media screen and (max-width: 1100px) {
  .welcome-img {
    width: 70%;
    margin-left: 100px;
    opacity: 0.6;
  }
}

@media screen and (max-width: 1000px) {
  .welcome-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .App {
    padding: 0 !important;
    margin: 0 !important;
    width: 100vw;
  }

  .sign-in-input input {
    min-width: 250px;
  }

  .search-main-feed input {
    width: 65vw;
  }

  .main-page-feed-section h1 {
    font-size: 1.6rem;
    text-align: center;
  }

  .menuToggler {
    display: none;
  }

  .new-submission {
    padding: 10px;
  }

  .main-page-feed-section {
    padding: 0px;
  }

  .landing-page-input {
    min-width: 400px;
  }

  .collapsed-feed-menu {
    display: flex;

    width: 50px;
    height: 100vh;
  }

  .feed-burger-menu {
    display: block;
  }

  .welcome-img {
    display: none;
  }

  .create-article {
    min-width: 250px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .main-page-feed-section {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .welcome-text h2 {
    text-align: left;

    font-size: 25px;
  }

  .welcome-text p {
    text-align: left;

    font-size: 15px;
  }

  .App {
    margin: 0px !important;
    padding: 0px !important;
  }

  .landing-page-input button {
    margin-left: 0;

    float: left;
  }

  .landing-page-input {
    margin: 0px;
  }

  .landing-page-input input {
    width: 350px;
    max-width: 450px;
    margin-left: 0px;
    float: left;
  }
}

@media screen and (min-width: 2000px) {
  .landing-page-input {
    margin: auto;
    padding-left: 60px;
  }
}

/* hamburger->cross */

* {
  margin: 0;
  padding: 0;
}

/* Icon 1 */
#nav-icon3 {
  width: 20px;
  height: 16px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 2 */

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

@keyframes flash {
  0% {
    background-color: #fef08a;
  }

  100% {
    background-color: transparent;
  }

  50% {
    background-color: #fef08a;
  }

}

.flash-effect {
  animation: flash 1s ease-in-out;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* ---break---
 */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
/* ---break---
 */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}