    .video-container {
        display: flex;
        padding: 5px;
        width: 350px;
        cursor: pointer;
    }

    .selected{
        background-color: rgb(51, 51, 51);
        border-radius: 15px;
    }
    
    .bg-gray-600.animate {
        animation: pulse 1s ease-in-out infinite;
      }
      
      @keyframes pulse {
        0% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }

      
    .video-text{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    .video-container:hover {
        /* smoothly change the background with time */
        transition: background-color 0.5s;
        background-color: rgb(51, 51, 51);
        border-radius: 15px;
    }

    /* first video container */
    .video-container:first-child {
        margin-top: 10px;
    }

    .side-feed-thumbnail {
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
    }

    .side-feed-text {
        font-size: 11px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90px;
    }

    .side-feed-title {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .side-feed-creator {
        color: gray;
        margin-bottom: 5px;
    }

    .side-feed-date {
        color: gray;
    }

    .video {
        width: 130px;
        height: 75px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;

        /* @media (min-width: 640px) {
            width: 150px;
        }

        @media (min-width: 1024px) {
            width: 200px;
        } */
    }

    .video:hover{
        animation: gif-animation 2s steps(3) forwards infinite;
    }

    @keyframes gif-animation {
        0% {
            background-image: url('https://i.ytimg.com/vi/mzoQWj6ijw0/1.jpg');
        }
        33% {
            background-image: url('https://i.ytimg.com/vi/mzoQWj6ijw0/2.jpg');
        }
        66% {
            background-image: url('https://i.ytimg.com/vi/mzoQWj6ijw0/3.jpg');
        }
    }