@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', sans-serif;
}

body {
	background: #fbfbfa;
	display: flex;
	flex-direction: column;
	width: 100vw;
	overflow-x: hidden;
}

/* 





MAIN PAGE 








*/


.navbar {
	display: flex;
	/* position: sticky; */
	top: 0;
	left: 0;
	flex-direction: row;
	justify-content: space-between;


	z-index: 1;
	margin: auto;

	align-items: center;
	width: 100vw;
}

.collapse-menu {
	display: none;
}

.mobile-menu-navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}



.navbar-right-section {
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 30px;
}

.signed-in-navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30px;
}

.navbar-link {
	padding: 10px;
	font-size: 15px;
	font-weight: 600;

	text-decoration: none;
}

.welcome-area {
	align-items: center;

	width: 100vw;
	display: flex;
	flex-direction: column;

	height: 350px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 20px;
}

.welcome-text {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: center;
}

.landing-page-input {
	margin: auto;
	width: 60vw;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.landing-page-input input {
	position: relative;
	cursor: text;
	font-size: 14px;
	width: 700px;
	max-width: 1000px;
	margin-left: 30px;
	margin-right: 10px;
	line-height: 20px;
	padding: 0 16px;
	height: 35px;

	border: 1px solid #d6d6e7;
	border-radius: 3px;
	box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
	overflow: hidden;
	transition: all 100ms ease-in-out;
}

.language-selection select {
	font-size: 14px;
	line-height: 20px;
	padding: 0 16px;
	height: 35px;

	border: 1px solid #d6d6e7;
	border-radius: 3px;

	box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
	overflow: hidden;
	transition: all 100ms ease-in-out;
}

.landing-page-input button {
	cursor: pointer;
	background: #2f3542;
	border: none;

	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.7s ease;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	margin-left: 25px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.welcome-text h2 {
	font-size: 35px;
}

.welcome-text p {
	font-size: 20px;
}

.welcome-img {
	width: 90%;
	margin-left: 100px;
	opacity: 0.6;
	display: none;
}

.user-feed {
	/* background: #212529;  */
	/* padding-right: 15px;
  padding-top: 30px;*/
	height: 90vh;
	overflow-y: scroll;
}

.user-feed::-webkit-scrollbar {
	width: 0px;
}

.scrolling {
	overflow-y: scroll;
	scrollbar-width: none
}



.user-feed::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(left, #999, #888);
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8);
}

.user-feed:-webkit-scrollbar-thumb:hover {
	background: linear-gradient(left, #888, #777);
}

.user-feed table {
	width: 100%;
}

table thead {
	text-align: left;
}

table tr {
	padding-left: 30px;
}

.feed-element {
	border-collapse: collapse;

	padding: 10px;
	height: 50px;
	margin: 10px;
	width: 100%;
	text-align: left;
	font-size: 14px;
}

.feed-element td {
	padding-left: 10px;
}

thead {
	height: 90px;
}

table tr {
	border-bottom: 1px solid #2d3136;
}

.main-page-feed-section {
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
}

.search-main-feed input {
	padding: 10px 10px 10px 10px;
	padding-left: 40px;
	width: 40vw;
	margin-right: 20px;
	font-size: 16px;

	background-image: url('./img/search.svg');
	background-position: 10px 8px;
	background-repeat: no-repeat;
}

.search-main-feed {
	padding-bottom: 10px;
	width: 80vw;
}

.main-page-feed-section h1 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 30px;
}

.sideBarContent {
	transition: all 0.5s ease;
}

::-webkit-scrollbar {
	display: none;
}

.article-block-1 {
	height: parent;
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	/* border-right: 1px solid #2f3542; */
}

.menu-toggler {
	top: 0;
}

/* .arrow-right {
	transform: rotate(0deg);
	transition: transform 0.5s ease-in-out;
}

.arrow-left {
	transform: rotate(360deg);
	transition: transform 0.5s ease-in-out;
} */

/* ANIMATIONS */

.text-center {
	text-align: center;
}

hr {
	border: none;
	height: 1px;
	width: 20%;
	background: #fff;
}

/* input {
	display: none;
} */

label {
	margin-bottom: 100px;
	display: block;
}

.mobile-welcome::before {
	content: 'Transcribe ';
	animation: animate2 infinite 8s;
	display: flex-inline;
	align-items: center;
}

@keyframes animate2 {
	0% {
		content: 'Transcribe ';
	}

	33% {
		content: 'Summarize ';
	}

	66% {
		content: 'Search ';
	}

	100% {
		content: 'Transcribe ';
	}
}

.animation1 {
	height: 40px;
	overflow: hidden;
}

.animation1>div>div {
	/* padding: 0 0.75rem; */
	height: 2.61rem;
	display: inline-block;
	align-items: flex-start;
}

.animation2 {
	height: 40px;
	overflow: hidden;
}

.animation2>div>div {
	/* padding: 0 0.75rem; */
	height: 2.61rem;
	display: inline-block;
	align-items: flex-start;
}

.animation1>div {
	animation: text-animation 4s infinite;
}

.animation2>div {
	animation: text-animation2 16s infinite;
}

@keyframes text-animation2 {
	5% {
		transform: translateY(-112%);
	}

	50% {
		transform: translateY(-100%);
	}

	54% {
		transform: translateY(-212%);
	}

	55% {
		transform: translateY(-200%);
	}

	100% {
		transform: translateY(-200%);
	}
}

@keyframes text-animation {
	0% {
		width: 182px;
	}

	18% {
		transform: translateY(-112%);
		width: 192px;
	}

	33% {
		transform: translateY(-100%);
		width: 192px;
	}

	51% {
		transform: translateY(-212%);
		width: 162px;
	}

	66% {
		transform: translateY(-200%);
		width: 162px;
	}

	85% {
		transform: translateY(-312%);
		width: 182px;
	}

	100% {
		transform: translateY(-300%);
		width: 182px;
	}
}

.user-feed {
	opacity: 1;
	/* transtion opacity and width  */
	transition: all 0.5s ease;
}

.user-feed.collapsed {
	opacity: 0.5;
}

/* 




CONTENT PAGE





*/

.content-upperside {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 30px;
}

.content {
	max-width: 60vw;
	margin-left: 50px;
}

.content-title {
	font-size: 30px;
	margin-left: 30px;
	margin-top: 50px;
}

.content-upperside iframe {
	margin: 30px;
}

.key-takeaways h1 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.article {
	/* max-height: 92vh; */
}

.create-article {
	align-items: center;
	appearance: none;

	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ced4da 0 -3px 0 inset;
	box-sizing: border-box;

	cursor: pointer;

	list-style: none;

	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;

	display: inline-flex;
	justify-content: center;
	line-height: 1;
	overflow: hidden;
	position: relative;
	text-align: left;
	height: 48px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 18px;
	margin-left: 30px;
	width: 80%;
	height: 40px;
	margin-bottom: 15px;
}

.create-article:focus {
	box-shadow: #ced4da 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
		#ced4da 0 -3px 0 inset;
}

.create-article:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ced4da 0 -3px 0 inset;
	transform: translateY(-2px);
}

.create-article:active {
	box-shadow: #ced4da 0 3px 7px inset;
	transform: translateY(2px);
}

.create-article p {
	font-size: 20px;
	font-weight: 600;
}

.new-submission {
	padding-top: 100px;
	padding-right: 100px;
	padding-left: 100px;
	left: 350px;
}

.new-submission input {
	min-width: 400px;
}

.instruction-texts h1 {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 20px;
}

.feed {
	margin-left: 30px;
	padding-right: 10px;
	padding-top: 20px;
}

.App {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

.sign-in-input input {
	position: relative;
	cursor: text;
	font-size: 14px;
	line-height: 20px;
	padding: 0 16px;
	margin-bottom: 10px;
	min-width: 450px;
	margin-right: 15px;
	height: 35px;
	background-color: #fff;
	border: 1px solid #d6d6e7;
	border-radius: 3px;

	box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
	overflow: hidden;
	transition: all 100ms ease-in-out;
}

.summary-and-transcript-buttons {
	border-bottom: 1px solid rgba(239, 237, 239, 0.5);
}

.content-active-button {
	border-bottom: 3px solid rgba(239, 237, 239, 0.5);
}

.summary-and-transcript-buttons button {
	padding-top: 13px;
	text-align: center;
	padding-right: 10px;
}

.summary-and-transcript-buttons.tabs button:focus {
	border-bottom: 3px solid #04293a;
}

.user-feed-buttons .tabs {
	border-bottom: 1px solid rgba(239, 237, 239, 0.5);

	display: flex;
	flex-direction: row;
}

.user-feed-buttons {
	padding-left: 10px;
}

.user-feed-buttons .tabs button {
	font-weight: bold;
	text-align: center;

	height: 60px;
	width: 150px;
}

.article-block-2 .tab-content {
	margin-left: 30px;
}

.article-block-2 {
	width: 80%;
	padding: 0px;
	float: right;
	overflow-y: scroll;
	max-height: 90vh;
	padding-left: 40px;
}

.main-content {
	font-size: 15px;

	padding-top: 15px;
}

#sidebar .create-article {
	margin: auto;
	margin-top: 30px;
}

.tab-content tbody {
	overflow-y: scroll;
	max-height: 100vh;
}

/*



CONTENT


*/

.rounded-div {
	@apply border rounded-2xl shadow-xl border-gray-200 bg-gray-900 border-gray-800 text-white px-6 max-w-[2300px] w-full mx-auto;
}

.coin-img {
	height: 30px;
}

.mons {
	width: 30px;
}

.article-body {
	/* display: flex;
  flex-direction: row;
  max-height: 92vh; */
}

#supertokens-root {
	height: 70vh;
}

footer {
	background: black;
}

.footer-main {
	display: flex;

	padding-top: 30px;
}

.footer-main-2 {
	justify-content: space-between;
	display: flex;
	flex-direction: row;

	margin: auto;
	width: 100%;
	margin-bottom: 30px;
}

/* 




DIFFERENT SCREEN SIZES









*/

@media screen and (max-width: 1100px) {
	.welcome-img {
		width: 70%;
		margin-left: 100px;
		opacity: 0.6;
	}
}

@media screen and (max-width: 1000px) {
	.welcome-text {
		display: flex;
		flex-direction: column;
		margin-left: 30px;
	}

	.navbar-right-section {
		padding-right: 0px;
	}

	.App {
		padding: 0 !important;
		margin: 0 !important;
		width: 100vw;
	}

	.sign-in-input input {
		min-width: 250px;
	}

	.search-main-feed input {
		width: 65vw;
	}

	.main-page-feed-section h1 {
		font-size: 1.6rem;
		text-align: center;
	}

	.user-feed-burger-feed {
		width: 100%;
	}

	.user-feed {
		display: none;
	}

	.menuToggler {
		display: none;
	}

	.new-submission {
		padding: 10px;
	}

	.main-page-feed-section {
		padding: 0px;
	}

	.landing-page-input {
		min-width: 400px;
	}

	.collapsed-feed-menu {
		display: flex;

		width: 50px;
		height: 100vh;
	}

	.feed-burger-menu {
		display: block;
	}

	.welcome-img {
		display: none;
	}

	.create-article {
		min-width: 250px;
		margin-top: 10px;
	}
}

@media screen and (max-width: 1200px) {
	.main-page-feed-section {
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 700px) {
	.welcome-text h2 {
		text-align: left;

		font-size: 25px;
	}

	.welcome-text p {
		text-align: left;

		font-size: 15px;
	}

	.App {
		margin: 0px !important;
		padding: 0px !important;
	}

	.landing-page-input button {
		margin-left: 0;

		float: left;
	}

	.landing-page-input {
		margin: 0px;
	}

	.landing-page-input input {
		width: 350px;
		max-width: 450px;
		margin-left: 0px;
		float: left;
	}
}

@media screen and (min-width: 2000px) {
	.landing-page-input {
		margin: auto;
		padding-left: 60px;
	}
}